.icone-acao{
    margin-left: 7px;
    margin-right: 7px;
}

.red{
    color: red;
}

.col-acao{
width: 80px;

}

.col-acao-t{
    width: 150px;
}

.col-acao-e{
    width: 150px;
}

.col-acao-c{
    width: 150px;
}